<html xmlns:th="http://www.thymeleaf.org">

<!-- js+css -->
<div th:fragment="source">
    <script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/css/style.css"/>
    <link rel="shortcut icon" href="../resources/favicon.ico" th:href="@{/static/favicon.ico}"/>
</div>

<!-- 头文件 -->
<div th:fragment="header">
    <!-- top -->
    <div class="topBackground">
        <div class="sou">
        <span class="fr">
            <span class="fl" th:if="${session.user == null}"><a href="/login.html" style="color:#ff4e00;">登录</a>&nbsp;<a href="/register" style="color:#ff4e00;">注册</a>&nbsp;&nbsp;</span>
            <span class="fl" th:if="${session.user != null}"><a href="/user/userInfo" >欢迎回来，<span
                    th:text="${session.user.userName}"></span></a>&nbsp;|&nbsp;<a href="/orders/list">订单历史</a>&nbsp;
            </span>
            <span class="fl" th:if="${session.user != null}">|&nbsp;<a href="/user/logout">重新登陆</a></span>
        </span>
        </div>
    </div>
    <div id="fade1" class="black_overlay"></div>
    <div id="MyDiv1" class="white_content">
        <div class="white_d">
            <div class="notice_t">
                <span class="fr" style="margin-top:10px; cursor:pointer;" onclick="CloseDiv_1('MyDiv1','fade1')"><img src="/images/close.gif" /></span>
            </div>
            <div class="notice_c">
                <table border="0" align="center" cellspacing="0" cellpadding="0">
                    <tr valign="top">
                        <td width="40"><img src="/images/suc.png"></td>
                        <td>
                            <span style="color:#3e3e3e; font-size:18px; font-weight:bold;" id="showMessage">操作成功</span><br />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- top -->

    <!-- search -->
    <div class="top">
        <div class="logo">
            <a href="/productCategory/list"><img src="/images/logo.png" style="width: 230px;border:0px solid red;"></a>
        </div>
<!--        <div class="search">-->
<!--            <form action="/product/findByKey" method="post">-->
<!--                <input type="text" name="keyWord" class="s_ipt">-->
<!--                <input type="submit" value="搜索" class="s_btn">-->
<!--            </form>-->
<!--        </div>-->
        <div class="i_car">
            <a href="/cart/findAllCart">
                <div class="car_t">
                    购物车 [
                    <span th:text="${cartList.size()}"></span>
                    ]
                </div>
            </a>

            <div class="car_bg">
                <div class="un_login">我的购物车</div>
                <ul class="cars">
                    <li th:each="cart:${cartList}">
                        <div class="img"><a th:href="'/product/findById/'+${cart.productId}"><img th:src="'/images/'+${cart.fileName}" width="58" height="58" /></a></div>
                        <div class="name"><a th:href="'/product/findById/'+${cart.productId}" th:text="${cart.name}"></a></div>
                        <div class="price"><font color="#ff4e00" th:text="'￥'+${cart.price}"></font> X <span class="quantity" th:text="${cart.quantity}"></span>  =  <span class="cost" th:text="${cart.cost}"></span></div>
                    </li>
                </ul>
                <div class="price_sum">共计&nbsp;<font color="#ff4e00">￥</font><span id="totalCost"></span></div>
                <div class="price_a"><a href="/cart/findAllCart">去结算</a></div>
            </div>

        </div>
    </div>
    <!-- search -->
    <script type="text/javascript">
        $(function(){
            //购物车总价
            var array = $(".cost");
            var totalCost = 0;
            for(var i = 0;i < array.length;i++){
                var val = parseInt($(".cost").eq(i).html());
                totalCost += val;
            }
            $("#totalCost").html("￥"+totalCost);
        });
    </script>
</div>

<!-- 商品类目 -->
<div th:fragment="category">
    <div class="menu_bg">
        <div class="menu">
            <div class="nav">
                <div class="nav_t">全部商品分类</div>
                <div class="leftNav">
                    <ul>
                        <li th:each="levelOne:${list}">
                            <div class="fj">
                                <span class="n_img"></span> <span class="fl" th:text="${levelOne.name}"></span>
                            </div>
                            <div class="zj">
                                <div class="zj_l">
                                    <div class="zj_l_c" th:each="levelTwo:${levelOne.children}">
                                        <h2>
                                            <a th:href="'/product/list/two/'+${levelTwo.id}" th:text="${levelTwo.name}"></a>
                                        </h2>
                                        <a th:href="'/product/list/three/'+${levelThree.id}" th:each="levelThree:${levelTwo.children}" th:text="${levelThree.name}"></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="menu_r">
                <li><a href="/productCategory/list">首页</a></li>
                <li th:each="productCategory:${list}">
                    <a th:href="'/product/list/one/'+${productCategory.id}" th:text="${productCategory.name}"></a>
                </li>
            </ul>
        </div>
    </div>
    <script type="text/javascript">
        $(function(){
            //商品类目
            $(".leftNav ul li").hover(
                function(){
                    $(this).find(".fj").addClass("nuw");
                    $(this).find(".zj").show();
                }
                ,
                function(){
                    $(this).find(".fj").removeClass("nuw");
                    $(this).find(".zj").hide();
                }
            )
        });
    </script>
</div>

<!--&lt;!&ndash; 底部 &ndash;&gt;-->
<!--<div th:fragment="footer">-->
<!--    <div class="b_btm_bg b_btm_c" id="footer">-->
<!--        <div class="b_btm">-->
<!--            <table border="0" style="width:210px; height:62px; float:left; margin-left:75px; margin-top:30px;" cellspacing="0" cellpadding="0">-->
<!--                <tr>-->
<!--                    <td width="72"><img src="/images/b1.png" width="62" height="62" /></td>-->
<!--                    <td><h2>正品保障</h2>正品行货  放心购买</td>-->
<!--                </tr>-->
<!--            </table>-->
<!--            <table border="0" style="width:210px; height:62px; float:left; margin-left:75px; margin-top:30px;" cellspacing="0" cellpadding="0">-->
<!--                <tr>-->
<!--                    <td width="72"><img src="/images/b2.png" width="62" height="62" /></td>-->
<!--                    <td><h2>满38包邮</h2>满38包邮 免运费</td>-->
<!--                </tr>-->
<!--            </table>-->
<!--            <table border="0" style="width:210px; height:62px; float:left; margin-left:75px; margin-top:30px;" cellspacing="0" cellpadding="0">-->
<!--                <tr>-->
<!--                    <td width="72"><img src="/images/b3.png" width="62" height="62" /></td>-->
<!--                    <td><h2>天天低价</h2>天天低价 畅选无忧</td>-->
<!--                </tr>-->
<!--            </table>-->
<!--            <table border="0" style="width:210px; height:62px; float:left; margin-left:75px; margin-top:30px;" cellspacing="0" cellpadding="0">-->
<!--                <tr>-->
<!--                    <td width="72"><img src="/images/b4.png" width="62" height="62" /></td>-->
<!--                    <td><h2>准时送达</h2>收货时间由你做主</td>-->
<!--                </tr>-->
<!--            </table>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="b_nav">-->
<!--        <dl>-->
<!--            <dt><a href="#">新手上路</a></dt>-->
<!--            <dd><a href="#">售后流程</a></dd>-->
<!--            <dd><a href="#">购物流程</a></dd>-->
<!--            <dd><a href="#">订购方式</a></dd>-->
<!--            <dd><a href="#">隐私声明</a></dd>-->
<!--            <dd><a href="#">推荐分享说明</a></dd>-->
<!--        </dl>-->
<!--        <dl>-->
<!--            <dt><a href="#">配送与支付</a></dt>-->
<!--            <dd><a href="#">货到付款区域</a></dd>-->
<!--            <dd><a href="#">配送支付查询</a></dd>-->
<!--            <dd><a href="#">支付方式说明</a></dd>-->
<!--        </dl>-->
<!--        <dl>-->
<!--            <dt><a href="#">会员中心</a></dt>-->
<!--            <dd><a href="#">资金管理</a></dd>-->
<!--            <dd><a href="#">我的收藏</a></dd>-->
<!--            <dd><a href="#">我的订单</a></dd>-->
<!--        </dl>-->
<!--        <dl>-->
<!--            <dt><a href="#">服务保证</a></dt>-->
<!--            <dd><a href="#">退换货原则</a></dd>-->
<!--            <dd><a href="#">售后服务保证</a></dd>-->
<!--            <dd><a href="#">产品质量保证</a></dd>-->
<!--        </dl>-->
<!--        <dl>-->
<!--            <dt><a href="#">联系我们</a></dt>-->
<!--            <dd><a href="#">网站故障报告</a></dd>-->
<!--            <dd><a href="#">购物咨询</a></dd>-->
<!--            <dd><a href="#">投诉与建议</a></dd>-->
<!--        </dl>-->
<!--        <div class="b_tel_bg">-->
<!--            <a href="#" class="b_sh1">新浪微博</a>-->
<!--            <a href="#" class="b_sh2">腾讯微博</a>-->
<!--            <p>-->
<!--                服务热线：<br />-->
<!--                <span>400-123-4567</span>-->
<!--            </p>-->
<!--        </div>-->
<!--        <div class="b_er">-->
<!--            <div class="b_er_c"><img src="/images/er.gif" width="118" height="118" /></div>-->
<!--            <img src="/images/ss.png" />-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!-- 许可 -->
<!--<div th:fragment="permit">-->
<!--    <div class="btmbg">-->
<!--        <div class="btm">-->
<!--            备案/许可证编号：******   Copyright © 2021-2021 ****** All Rights Reserved. Technical Support: ******-->
<!--            <br />-->
<!--&lt;!&ndash;            <img src="/images/b_1.gif" width="98" height="33" /><img src="/images/b_2.gif" width="98" height="33" /><img src="/images/b_3.gif" width="98" height="33" /><img src="/images/b_4.gif" width="98" height="33" /><img src="/images/b_5.gif" width="98" height="33" /><img src="/images/b_6.gif" width="98" height="33" />&ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
